<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - websocket_chat</title>
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> -->
    <!-- <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> -->
    <link rel="stylesheet" href="~/websocket chat.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/newHomeStyle.css" />
</head>
<body>
    <header class='header'>
        <div class='wrapper'>
            <nav class='header-container'>
                <a href='/' class='header-title'>
                    <h1>
                        DrawGa
                    </h1>
                </a>
                @if (Context.User.Identity is { IsAuthenticated: true })
                {
                    <div class='login-buttons-container'>
                        <button class='button register-button' onclick="location.replace('/profile')">Профиль</button>
                        <button class='button login-button' onclick="location.replace('/login/logout')">Выйти</button>
                    </div>
                }
                else
                {
                    <div class='login-buttons-container'>
                        <button class='button login-button' onclick="location.replace('/login')">Вход</button>
                        <button class='button register-button' onclick="location.replace('/login/register')">Регистрация</button>
                    </div>
                }
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="wrapper">
            <div class="footer-container">
                <div>
                    DrawGa
                </div>
                <div>
                    © 2022-@DateTime.Now.Year DrawGa. Все права защищены.
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
