@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<input type="text" id="user" />
<input type="text" id="message" />
<input type="button" value="send" id="send" />
<div id='messages'></div>

<script>
    var socket,
        $txt = document.getElementById('message'),
        $user = document.getElementById('user'),
        $messages = document.getElementById('messages');


    var loc = window.location, new_uri;
    if (loc.protocol === "https:") {
        new_uri = "wss:";
    } else {
        new_uri = "ws:";
    }
    new_uri += "/" + loc.host;
    new_uri += loc.pathname + "ws";

    if (typeof (WebSocket) !== 'undefined') {
        socket = new WebSocket(new_uri);
    } else {
        socket = new MozWebSocket(new_uri);
    }

    socket.onmessage = function(msg) {
        var $el = document.createElement('p');
        $el.innerHTML = msg.data;
        $messages.appendChild($el);
    };

    socket.onclose = function(event) {
        alert('Мы потеряли её. Пожалуйста, обновите страницу');
    };

    document.getElementById('send').onclick = function() {
        socket.send($user.value + ' : ' + $txt.value);
        $txt.value = '';
    };
</script>