@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --clr-primary: rgb(95, 61, 196);
  --clr-primary-dark: rgb(52, 6, 190);
  --clr-primary-light: rgb(126, 85, 250);
  --clr-primary-active: rgba(95, 61, 196, 0.4);
  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(0, 0, 0);
  --clr-gray-light: rgb(211, 211, 211);
  --clr-gray-dark: rgb(138, 138, 138);

  --clr-border: rgb(230, 225, 225);
  --clr-background-transparent: rgba(255, 255, 255, 0.8);
  --clr-hover: rgb(238, 238, 238);

  --clr-text: rgb(51, 51, 51);

  --clr-trailer: rgb(0, 0, 0);
  --clr-canvas: rgb(255, 255, 255);

  --clr-icon: rgb(51, 51, 51);
  --clr-fill: rgb(51, 51, 51);

  --clr-shortcut: rgb(165, 165, 165);

  --clr-default: rgb(54, 79, 199);

  --cursor-custom: url('/icons/custom-cursor.svg');
  /* --cursor-custom: url('/icons/cursor-black.png'); */

  --z-index-1: 10000000;
  --z-index-2: 10000000000;
  --z-index-3: 100000000000000;
  --z-index-4: 100000000000000000;
  --z-index-max: 10000000000000000000000000;
}

* {
  font-family: 'Roboto', sans-serif;

  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  /* cursor: var(--cursor-custom), auto; */
}

button {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

hr {
  background-color: var(--clr-shortcut);
  height: 2px;
  border: none;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-container,
.main-container button,
.main-container input {
  position: relative;
  overflow: hidden;

  color: var(--clr-text);
  width: 100%;
  height: 100%;
}

.main-container img {
  background-color: var(--clr-background-icons);
}

/* ======================== ТЕМНАЯ ТЕМА ======================== */

.dark {
  --clr-primary: rgb(95, 61, 196);
  --clr-primary-dark: rgb(61, 8, 219);
  --clr-primary-active: rgba(95, 61, 196, 0.4);
  --clr-gray-light: rgb(211, 211, 211);
  --clr-gray-dark: rgb(138, 138, 138);

  --clr-border: rgb(65, 65, 65);
  --clr-background-transparent: rgba(49, 49, 49, 0.8);
  --clr-hover: rgb(94, 94, 94);

  --clr-text: rgb(233, 233, 233);
  --clr-trailer: #ccc;

  --clr-canvas: #333;

  --clr-icon: #ccc;
  --clr-fill: #ccc;

  /* --cursor-custom: url('/icons/custom-cursor-white.svg'); */
  /* --cursor-custom: url('/icons/cursor-white.png'); */
}

:root:has(#dark:checked) {
  --clr-primary: rgb(95, 61, 196);
  --clr-primary-dark: rgb(61, 8, 219);
  --clr-primary-active: rgba(95, 61, 196, 0.4);
  --clr-gray-light: rgb(211, 211, 211);
  --clr-gray-dark: rgb(138, 138, 138);

  --clr-border: rgb(65, 65, 65);
  --clr-background-transparent: rgba(49, 49, 49, 0.8);
  --clr-hover: rgb(94, 94, 94);

  --clr-text: rgb(233, 233, 233);
  --clr-trailer: #ccc;

  --clr-canvas: #333;

  --clr-icon: #ccc;
  --clr-fill: #ccc;

  /* --cursor-custom: url('/icons/custom-cursor-white.svg'); */
  /* --cursor-custom: url('/icons/cursor-white.png'); */
}

/* ======================== ТЕКСТ ======================== */

.text-element {
  position: absolute !important;
  background: transparent;
  font-size: 2rem;
  border: 1px solid black;
  outline: none;
  color: var(--clr-text);
}
