@inject IWebHostEnvironment Environment

@{
    Layout = null;
}

@model List<string>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/newStyle.css">
    <link rel="stylesheet" href="/css/toastify.css"/>
    <title>DrawГа</title>
    <title>NEW! capybara123123123</title>
    <title>NEW! Самый new Title </title>
    <script src="https://unpkg.com/roughjs@4.5.2/bundled/rough.js"></script>
</head>
<body>
    <div class="wrapper">
        <div id="me" class="trailer"></div>
        <div class="main-container">
            <div class='cursor-container'>
                <div class="cursor-item">
                    <button class="top-btn" id="save-btn">
                        <img src="/icons/save.svg" alt='pen-tool' class='cursor-icon active-cursor' />
                    </button>
                </div>
                <div class="cursor-item">
                    <button class="top-btn active-shape" data-shape-option="pointer" id="pointer-btn">
                        <img src="/icons/mouse-pointer.svg" alt='pointer-tool' class='cursor-icon' />
                    </button>
                </div>
                <div class="cursor-item">
                    <button class="top-btn" data-shape-option="eraser" id="eraser-btn">
                        <img src="/icons/eraser-fill.svg" alt='eraser-tool' class='cursor-icon' />
                    </button>
                </div>
                <div class='cursor-item'>
                    <button class="top-btn" data-shape-option="pen">
                        <img src="/icons/pen-tool.svg" alt='pen-tool' class='cursor-icon' />
                    </button>
                </div>
                <div class='cursor-item'>
                    <button class="top-btn" data-shape-option="rectangle">
                        <img src="/icons/square.svg" alt='rectangle-tool' class='cursor-icon' />
                    </button>
                </div>
                <div class='cursor-item'>
                    <button class="top-btn" data-shape-option="line">
                        <img src="/icons/line-tool.svg" alt='line-tool' class='cursor-icon' />
                    </button>
                </div>
                <div class='cursor-item'>
                    <button class="top-btn" data-shape-option="ellipse">
                        <img src="/icons/circle.svg" alt='ellipse-tool' class='cursor-icon' />
                    </button>
                </div>
                <div class="cursor-item">
                    <button class="top-btn" id="clear-btn">
                        <img src="/icons/trash.svg" alt='ellipse-tool' class='cursor-icon' />
                    </button>
                </div>
            </div>
            <div class="options-wrapper">
                <div class="options-color-container">
                    <p>Цвет зарисовки</p>
                    <div class="color-container">
                        <div class="color-picker"></div>
                        <div class="color-list"
                             id="color-list"
                             style="display: none">
                            @foreach (var color in Model)
                            {
                                <div class="color-item" id="color-item"
                                 style="background-color: @color"></div>
                            }
                        </div>
                        <div class="color-picker-input">
                            <p>#</p>
                            <input placeholder="000000"
                                   type="text"
                                   id="color-picker-input" />
                        </div>
                    </div>
                </div>
                <div class="options-color-container">
                    <p>Цвет границы</p>
                    <div class="color-container">
                        <div class="color-picker" id="stroke-color-picker"></div>
                        <div class="color-list"
                             id="stroke-color-list"
                             style="display: none">
                            @foreach (var color in Model)
                            {
                                <div class="color-item" id="stroke-color-item"
                                 style="background-color: @color"></div>
                            }
                        </div>
                        <div class="color-picker-input" id="stroke-color-picker-input"> 
                            <p>#</p>
                            <input placeholder="000000"
                                   type="text"
                                   id="stroke-color-picker-input" />
                        </div>
                    </div>
                </div>
                <div class="options-container width-options">
                    <p>Толщина линии</p>
                    <div class="options-width-container">
                        <div><button class="width-btn" id="small-width-btn" data-line-width="5">smol</button></div>
                        <div><button class="width-btn active-width" id="middle-width-btn" data-line-width="12">norm</button></div>
                        <div><button class="width-btn" id="large-width-btn" data-line-width="20">larj</button></div>
                    </div>
                </div>
                <div class="options-container opacity-options">
                    <p>Прозрачность линии</p>
                    <input type="range" min="0.1" max="1" value="1" step="0.1" id="input-opacity" />
                </div>
                <div class="options-container fill-style-options">
                    <p>Стиль заливки</p>
                    <div class="fill-style-options-container">
                        <button class="fill-style-btn active-fill-style" data-fill-option="hachure">
                            hachure
                        </button>
                        <button class="fill-style-btn" data-fill-option="solid">
                            solid
                        </button>
                        <button class="fill-style-btn" data-fill-option="zigzag">
                            zigzag
                        </button>
                        <button class="fill-style-btn" data-fill-option="cross-hatch">
                            cross-hatch
                        </button>
                        <button class="fill-style-btn" data-fill-option="dashed">
                            dashed
                        </button>
                        <button class="fill-style-btn" data-fill-option="zigzag-line">
                            zigzag-line
                        </button>
                    </div>
                </div>
            </div>
            <div class="zoom-container">
                <button class="zoom-btn" id="zoom-decrease"><span>-</span></button>
                <div class="zoom-current-container"><span id="zoom-current">100%</span></div>
                <button class="zoom-btn" id="zoom-increase"><span>+</span></button>
            </div>
             <div class="settings-wrapper">
                <button class="settings-show-btn">Show</button>
                <div class="settings-container">
                    <div class="settings-save-container">
                        <button>Сохранить файл</button>
                    </div>
                    <div class="settings-clear-all-container">
                        <button>Очистить полотно</button>
                    </div>
                    <div class="settings-theme-container">
                        <h3>Выбрать тему</h1>
                        <select class="">
                            <option>Светлая тема</option>
                            <option>Тёмная тема</option>
                        </select>
                    </div>                    
                </div>
            </div>
            <canvas id="canvas"></canvas>
        </div>
    </div>
    @if (Environment.IsDevelopment())
    {
        <script type="module" src="/src/main.ts"></script>
    }
    else
    {
        <script type="module" src="/src/main.js"></script>
    }
</body>
</html>
