@model string

<div class="login-wrapper">
    <div class="signup__container">
        <div class="container__child signup__thumbnail">
            <div class="thumbnail__logo">
                <h1 class="signup-heading logo__text">DrawGa</h1>
            </div>
            <div class="thumbnail__content ">
                <h1 class="signup-heading heading--primary">Добро пожаловать</h1>
                <h2 class="signup-subheading heading--secondary">Готовы приступить?</h2>
            </div>
            <ul class="thumbnail__links">
                <li><a href="https://github.com/alexdevero" target="_blank">Гит</a></li>
            </ul>
        </div>
        <div class="container__child signup__form__container">
            <form action="/login/login" method="post">
                <div class="signup__form">
                    <div class="form-group">
                        <label class="label" for="email">Почта</label>
                        <input class="form-control" type="text" name="email" id="email" placeholder="james.bond@spectre.com" required />
                    </div>
                    <div class="form-group">
                        <label class="label" for="password">Пароль</label>
                        <input class="form-control" type="password" name="password" id="password" placeholder="********" required />
                    </div>
                    <div class="signup-buttons">
                        <input class="btn btn--form" type="submit" value="Войти" />
                        <a class="signup__link" onclick="location.replace('/login/register')" href="/login/register">Создать аккаунт</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    // // ===== для смены окон
    // const signUpButtonGhost = document.getElementById('signUp');
    // const signInButtonGhost = document.getElementById('signIn');
    // const container = document.getElementById('container');

    // signUpButtonGhost.addEventListener('click', () => {
    // 	container.classList.add("right-panel-active");
    // });

    // signInButtonGhost.addEventListener('click', () => {
    // 	container.classList.remove("right-panel-active");
    // });
    // // ======

    // // const loginButton = document.querySelector('.login-button')

    // // loginButton.addEventListener('click', () => {

    // // })

    // const loginForm = document.querySelector('.login-form')
    // const registerForm = document.querySelector('.register-form')

    // loginForm.addEventListener('submit', () => {

    // })
    // </script>