@model string

<div class="login-wrapper">
    <div class="signup__container">
        <div class="container__child signup__thumbnail">
            <div class="thumbnail__logo">
                <img src='/icons/loginIcon.svg' />
                <h1 class="signup-heading logo__text">Spectre</h1>
            </div>
            <div class="thumbnail__content text-center">
                <h1 class="signup-heading heading--primary">Welcome to MI6.</h1>
                <h2 class="signup-subheading heading--secondary">Are you ready to join the elite?</h2>
            </div>
            <div class="thumbnail__links">
                <ul class="list-inline m-b-0 text-center">
                    <li><a href="http://alexdevero.com/" target="_blank"><i class="fa fa-globe"></i></a></li>
                    <li><a href="https://www.behance.net/alexdevero" target="_blank"><fa class="fa fa-behance"></fa></a></li>
                    <li><a href="https://github.com/alexdevero" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://twitter.com/alexdevero" target="_blank"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="signup__overlay"></div>
        </div>
        <div class="container__child signup__form">
            <form action="/login/login" method="post">
            <h1 class="message">@Model</h1>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="text" name="email" id="email" placeholder="james.bond@spectre.com" required />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" id="password" placeholder="********" required />
                </div>
                <div class="m-t-lg">
                    <ul class="list-inline">
                        <li>
                            <input class="btn btn--form" type="submit" value="Войти" />
                        </li>
                        <li>
                            <a class="signup__link" href="/login/register">Создать аккаунт</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    // // ===== для смены окон
    // const signUpButtonGhost = document.getElementById('signUp');
    // const signInButtonGhost = document.getElementById('signIn');
    // const container = document.getElementById('container');

    // signUpButtonGhost.addEventListener('click', () => {
    // 	container.classList.add("right-panel-active");
    // });

    // signInButtonGhost.addEventListener('click', () => {
    // 	container.classList.remove("right-panel-active");
    // });
    // // ======

    // // const loginButton = document.querySelector('.login-button')

    // // loginButton.addEventListener('click', () => {

    // // })

    // const loginForm = document.querySelector('.login-form')
    // const registerForm = document.querySelector('.register-form')

    // loginForm.addEventListener('submit', () => {

    // })
    // </script>